{% extends "base.html" %}
{%block title %}about{% endblock %}
{% block aboutactive %}active{% endblock %}
{%block css %}{% endblock %}

{% block body %}

<div class="container my-2">
    <h2 class="text-center py-1 px-1">About us</h2>
    <p>
        Online inventory management software is accessed through the internet, rather than through a program
        installed on your physical computers and servers. This greatly reduces your company’s hardware
        requirements. What’s more, the subscription-based pricing plans these systems typically offer tend to
        be less expensive than the traditional, desktop-based systems. This makes online inventory management
        software a cost-effective option for small businesses.
    </p>
    <p>
        Inventory managers are uniquely useful for sales departments because they ensure you can easily manage
        and track your inventory. These platforms include features for monitoring amounts of each product your
        inventory, including how much is being produced daily, how much is being stored and how much is being
        sold. With the automation of this information, you can more swiftly monitor inventory data, such as
        how well certainitems are selling, and more accurately predict future inventory needs.
    </p>
    <p>
    <h4>Real-time inventory management</h4>
    Allows you to see your stock levels, incoming and outgoing orders, shipping information and a whole host
    of other measures in real time. This enables you to improve tracking and make informed decisions using
    up-to-date knowledge of your inventory.

    </p>
</div>

{% endblock %}